.video-player {
  text-align: center;
  background: #fafafa;
}

.video-image {
  padding: 50px 0 30px;
}

.video-text {
  width: 373px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.video-txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #9e9e9e;
  margin: 0;
}

#video {
  width: 490px;
  height: 327px;
}

@media (max-width: 1024px) {
  .video-image {
    padding-top: 30px;
  }

  .video-text {
    width: 261px;
    padding-bottom: 30px;
  }

  .video-txt {
    font-size: 14px;
    line-height: 16px;
  }

  #video {
    width: 326px;
    height: 217px;
  }
}

@media (max-width: 599px) {
    .video-image {
      padding: 24px 0;
    }
  
    .video-text {
      padding-bottom: 24px;
    }
  
    .video-txt {
      font-size: 14px;
      line-height: 16px;
    }
  }
