<div class="content-layout">
  <div class="content-layout-container">
    <div class="col-30">
      <img
        src="assets/images/iPhone-13-Pro-Max-38-3.png"
        class="layout-img img-1"
      />
    </div>
    <div class="col-70">
      <div class="layout-text-title">
        <p class="title-txt">Customize the way you like</p>
      </div>
      <div class="dropdown dropdown-active">
        <div class="dropdown-title">
          <mat-icon class="dropdown-title-icon-left active-txt"
            >radio_button_checked</mat-icon
          >
          <div class="dropdown-text-box">
            <p class="dropdown-title-txt active-txt">
              Turn Off-On the features
            </p>
            <p class="dropdown-desc-txt">
              Mevolve was developed to help you reach your goals and be more
              consistent.
            </p>
          </div>
          <mat-icon class="dropdown-title-icon-right active-txt"
            >keyboard_arrow_up</mat-icon
          >
        </div>
      </div>
      <div class="dropdown">
        <div class="dropdown-title">
          <mat-icon class="dropdown-title-icon-left">wb_sunny</mat-icon>
          <div class="dropdown-text-box">
            <p class="dropdown-title-txt">Light and Dark mode</p>
          </div>
          <mat-icon class="dropdown-title-icon-right"
            >keyboard_arrow_up</mat-icon
          >
        </div>
      </div>
      <div class="dropdown">
        <div class="dropdown-title">
          <mat-icon class="dropdown-title-icon-left">color_lens</mat-icon>
          <div class="dropdown-text-box">
            <p class="dropdown-title-txt">Multi-theme colors</p>
          </div>
          <mat-icon class="dropdown-title-icon-right"
            >keyboard_arrow_up</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
  <div class="content-layout-container">
    <div class="col-70 left-aligned">
      <div class="layout-text-title">
        <p class="title-txt">Customize the way you like</p>
      </div>
      <div class="dropdown dropdown-active">
        <div class="dropdown-title">
          <mat-icon class="dropdown-title-icon-left active-txt"
            >radio_button_checked</mat-icon
          >
          <div class="dropdown-text-box">
            <p class="dropdown-title-txt active-txt">
              Turn Off-On the features
            </p>
            <p class="dropdown-desc-txt">
              Mevolve was developed to help you reach your goals and be more
              consistent.
            </p>
          </div>
          <mat-icon class="dropdown-title-icon-right active-txt"
            >keyboard_arrow_up</mat-icon
          >
        </div>
      </div>
      <div class="dropdown">
        <div class="dropdown-title">
          <mat-icon class="dropdown-title-icon-left">wb_sunny</mat-icon>
          <div class="dropdown-text-box">
            <p class="dropdown-title-txt">Light and Dark mode</p>
          </div>
          <mat-icon class="dropdown-title-icon-right"
            >keyboard_arrow_up</mat-icon
          >
        </div>
      </div>
      <div class="dropdown">
        <div class="dropdown-title">
          <mat-icon class="dropdown-title-icon-left">color_lens</mat-icon>
          <div class="dropdown-text-box">
            <p class="dropdown-title-txt">Multi-theme colors</p>
          </div>
          <mat-icon class="dropdown-title-icon-right"
            >keyboard_arrow_up</mat-icon
          >
        </div>
      </div>
    </div>
    <div class="col-30">
      <img src="assets/images/customize-1.png" class="layout-img img-2" />
    </div>
  </div>
  <div class="content-layout-container">
    <div class="col-30">
      <img
        src="assets/images/journal-feature-1.png"
        class="layout-img img-3-1"
      />
      <img src="assets/images/mood-tracker-1.png" class="layout-img img-3-2" />
    </div>
    <div class="col-70">
      <div class="layout-text-title">
        <p class="title-txt">Customize the way you like</p>
      </div>
      <div class="dropdown dropdown-active">
        <div class="dropdown-title">
          <mat-icon class="dropdown-title-icon-left active-txt"
            >radio_button_checked</mat-icon
          >
          <div class="dropdown-text-box">
            <p class="dropdown-title-txt active-txt">
              Turn Off-On the features
            </p>
            <p class="dropdown-desc-txt">
              Mevolve was developed to help you reach your goals and be more
              consistent.
            </p>
          </div>
          <mat-icon class="dropdown-title-icon-right active-txt"
            >keyboard_arrow_up</mat-icon
          >
        </div>
      </div>
      <div class="dropdown">
        <div class="dropdown-title">
          <mat-icon class="dropdown-title-icon-left">wb_sunny</mat-icon>
          <div class="dropdown-text-box">
            <p class="dropdown-title-txt">Light and Dark mode</p>
          </div>
          <mat-icon class="dropdown-title-icon-right"
            >keyboard_arrow_up</mat-icon
          >
        </div>
      </div>
      <div class="dropdown">
        <div class="dropdown-title">
          <mat-icon class="dropdown-title-icon-left">color_lens</mat-icon>
          <div class="dropdown-text-box">
            <p class="dropdown-title-txt">Multi-theme colors</p>
          </div>
          <mat-icon class="dropdown-title-icon-right"
            >keyboard_arrow_up</mat-icon
          >
        </div>
      </div>
    </div>
  </div>
  <div class="content-layout-container">
    <div class="col-50">
      <img src="assets/images/set-passcode-1.png" class="layout-img img-4" />
    </div>
    <div class="col-50">
        <div class="layout-text-title">
            <p class="title-txt">Customize the way you like</p>
            <ul>
              <li class="title-li-txt">
                Turn Off-On the features that you want to use
              </li>
              <li class="title-li-txt">Light and Datk theme</li>
              <li class="title-li-txt">Multi-theme colors</li>
            </ul>
          </div>
    </div>
  </div>
  <div class="content-layout-container">
    <div class="col-50">
      <div class="layout-text-title">
        <p class="title-txt">Customize the way you like</p>
        <ul>
          <li class="title-li-txt">
            Turn Off-On the features that you want to use
          </li>
          <li class="title-li-txt">Light and Datk theme</li>
          <li class="title-li-txt">Multi-theme colors</li>
        </ul>
      </div>
    </div>
    <div class="col-50">
      <img src="assets/images/group-32.png" class="layout-img img-5" />
    </div>
  </div>
</div>
