<div class="header">
    <div class="brand-name">
        <span class="logo-bold-word">Me</span>
        <span class="logo-normal-word">volve</span>
    </div>
    <div class="menu-tab">
        <div class="menu-list">
            <a class="menu-link" href="#">Home</a>
        </div>
        <div class="menu-list">
            <a class="menu-link" href="#">Features</a>
        </div>
        <div class="menu-list">
            <a class="menu-link" href="#">Pricing</a>
        </div>
        <div class="menu-list">
            <a class="menu-link" href="#">Contact us</a>
        </div>
    </div>
</div>