<div class="feedback-form">
  <div class="ff-title">
    <div class="ff-title-txt">
      <p class="title-txt">Get in touch</p>
    </div>
    <div class="ff-title-desc">
      <p class="title-desc">Our friendly team would love to hear from you !</p>
    </div>
  </div>
  <div class="ff-content">
    <div class="ff-form">
      <p class="ff-field-label">Your Name</p>
      <input
        class="ff-input-name"
        label="ff-input-name"
        placeholder="e.g, Joseph"
      />
      <p class="ff-field-label">Your Email</p>
      <input
        class="ff-input-email"
        label="ff-input-email"
        placeholder="e.g, joseph687@gmail.com"
      />
      <p class="ff-field-label">Message</p>
      <input
        class="ff-input-message"
        label="ff-input-message"
        placeholder="Let tell us about your thoughts on this..."
      />
    </div>
    <div class="ff-btn">
      <button class="ff-submit">Send message</button>
    </div>
  </div>
</div>
