<div class="footer">
  <div class="footer-top">
    <div class="footer-top-left">
      <div class="footer-logo">
        <img src="assets/images/group-283.png" id="logo" />
      </div>
      <div class="footer-logo-desc">
        <p class="desc">
          Evolve daily by efficiently managing your time, thoughts, tasks and
          routines in a simple app.
        </p>
      </div>
    </div>
    <div class="footer-top-right">
      <div class="footer-menu-list">
        <ul>
          <li class="footer-menu-heading">Sitemap</li>
          <li class="footer-menu-content">About us</li>
          <li class="footer-menu-content">Services</li>
          <li class="footer-menu-content">Blog</li>
          <li class="footer-menu-content">Team</li>
        </ul>
      </div>
      <div class="footer-menu-list">
        <ul>
          <li class="footer-menu-heading">Product</li>
          <li class="footer-menu-content">Pricing</li>
          <li class="footer-menu-content">Feature</li>
          <li class="footer-menu-content">Customer</li>
          <li class="footer-menu-content">Feedback</li>
        </ul>
      </div>
      <div class="footer-menu-list">
        <ul>
          <li class="footer-menu-heading">Legal</li>
          <li class="footer-menu-content">Terms & condition</li>
          <li class="footer-menu-content">Privacy policy</li>
          <li class="footer-menu-content">Licence</li>
          <li class="footer-menu-content">Security</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="footer-bottom-left">
        <p class="copyright-text">@2022 All rights reserved</p>
    </div>
    <div class="footer-bottom-right">
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-linkedin"></a>
        <a href="#" class="fa fa-twitter"></a>
    </div>
  </div>
</div>
