<div class="hero-banner">
  <div class="hero-banner-content">
    <div class="content-title">
      <p class="title">Automate self-development</p>
    </div>
    <div class="content-desc">
      <p class="desc">
        Evolve daily by efficiently managing your time, thoughts, tasks and
        routines in a simple app.
      </p>
    </div>
    <div class="content-button">
      <button class="content-btn">
        <mat-icon class="btn-icon">play_arrow</mat-icon>
        <p class="btn-txt">Watch video</p>
      </button>
    </div>
    <div class="content-store">
        <img src="assets/images/group-33.png" id="store-icons">
    </div>
  </div>
  <div class="hero-banner-image">
    <img src="assets/images/hero-banner-img.svg" id="hero-banner-img" />
  </div>
</div>
