<div class="shortcut">
  <div class="shortcut-title">
    <p class="title-txt">One App To Rule Them All</p>
  </div>
  <div class="shortcut-tiles">
    <div class="tile item1">
      <img src="assets/images/shortcut-1.png" id="shortcut-img" />
      <p class="tile-desc">To-Do List</p>
    </div>
    <div class="tile item2">
      <img src="assets/images/shortcut-2.png" id="shortcut-img" />
      <p class="tile-desc">Habit Tracker</p>
    </div>
    <div class="tile item3">
      <img src="assets/images/shortcut-3.png" id="shortcut-img" />
      <p class="tile-desc">Journaling</p>
    </div>
    <div class="tile item4">
      <img src="assets/images/shortcut-4.png" id="shortcut-img" />
      <p class="tile-desc">Notes</p>
    </div>
    <div class="tile item5">
      <img src="assets/images/shortcut-5.png" id="shortcut-img" />
      <p class="tile-desc">Lists</p>
    </div>
  </div>
</div>
