<div class="product-plan">
  <div class="product-plan-title">
    <p class="plan-title">Choose the best plan for you</p>
  </div>
  <div class="product-plan-content">
    <div class="product-plan-tile">
      <div class="product-tile">
        <div class="product-price">
          <p class="price-txt">$0</p>
        </div>
        <div class="product-validity">
          <p class="validity-txt">Free</p>
        </div>
        <div class="product-billing">
          <p class="billing-txt">(For 30 days)</p>
        </div>
      </div>
      <div class="product-tile">
        <div class="product-price">
          <p class="price-txt">$3.99</p>
        </div>
        <div class="product-validity">
          <p class="validity-txt">Per month</p>
        </div>
        <div class="product-billing">
          <p class="billing-txt">Monthly Billing</p>
        </div>
      </div>
      <div class="product-tile">
        <div class="product-price">
          <p class="price-txt">$2.99</p>
        </div>
        <div class="product-validity">
          <p class="validity-txt">Per Year</p>
        </div>
        <div class="product-billing">
          <p class="billing-txt">Yearly Billing</p>
        </div>
      </div>
    </div>
    <div class="product-desc-tile">
      <div class="product-desc-title">
        <p class="desc-title-txt">What we offer</p>
      </div>
      <div class="product-desc-content">
        <div class="desc-content">
          <mat-icon class="desc-content-icon">add_box</mat-icon>
          <p class="desc-content-txt">
            Add Todos, Habits, Journals and Notes in a single app.
          </p>
        </div>
        <div class="desc-content">
          <mat-icon class="desc-content-icon">fitness_center</mat-icon>
          <p class="desc-content-txt">Four types of Habit Tracking.</p>
        </div>
        <div class="desc-content">
          <mat-icon class="desc-content-icon">signal_cellular_4_bar</mat-icon>
          <p class="desc-content-txt">
            Track Todos, Habits, Journals and Notes with daily values.
          </p>
        </div>
        <div class="desc-content">
          <mat-icon class="desc-content-icon">tag_faces</mat-icon>
          <p class="desc-content-txt">
            Update your Mood and Pictures in Journal and Notes section.
          </p>
        </div>
        <div class="desc-content">
          <mat-icon class="desc-content-icon">color_lens</mat-icon>
          <p class="desc-content-txt">Customize the app color.</p>
        </div>
        <div class="desc-content">
          <mat-icon class="desc-content-icon">notifications_active</mat-icon>
          <p class="desc-content-txt">Notification and Reminders.</p>
        </div>
        <div class="desc-content">
          <mat-icon class="desc-content-icon">lock</mat-icon>
          <p class="desc-content-txt">Lock Pin</p>
        </div>
      </div>
    </div>
  </div>
</div>
